@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

}
<div class="row container">

	<a target="_blank" href="https://angular-mongo.onrender.com/" class="col-12 col-md-4 card back_img  SampleWebsite" style="background-image:url(https://res.cloudinary.com/dv3ucnxsv/image/upload/v1738519456/nuhb1snfjjbbgte1djqx.png)">

	</a>
	<a target="_blank" href="https://yael-ajami.onrender.com/" class="col-12 col-md-4 card back_img  SampleWebsite" style="background-image:url(https://res.cloudinary.com/dv3ucnxsv/image/upload/v1738519452/r4acglymizv1ocxpwvce.png)">

	</a>
</div>