@charset "UTF-8";
.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  opacity: 1 !important;
}

.slider-container {
  align-items: center;
  display: flex !important; /* וודא שהכרטיסיות נראות */
  overflow: visible; /* ודא שאין חיתוך */
  height: auto;
  width: 80%;
  margin: 50px auto;
}

.card {
  height: 440px;
  display: block;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 0px 5px 2px;
  text-align: center;
  padding: 15px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.card h3 {
  margin: 10px 0;
  font-size: 1.5em;
  color: #333;
}

.card p, .card blockquote {
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
  color: #666;
  margin: 0;
  display: -webkit-box;
  padding: 0;
}
.card p {
  -webkit-line-clamp: 1;
}
.card blockquote {
  -webkit-line-clamp: 3;
}

/* עיצוב בסיסי לסליידר */
.slider-container {
  width: 80%;
  margin: 0 auto;
}

/* עיצוב לחיצים של הסליידר */
.slick-prev,
.slick-next {
  color: #000000;
  font-size: 35px;
  line-height: 1;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.slick-prev {
  left: -50px;
}

.slick-next {
  right: -50px;
}

/* הסרה של החיצים הפנימיים המובנים */
.slick-prev::before,
.slick-next::before {
  content: "";
}

.marketing-bar {
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.marketing-bar .row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.marketing-bar .item {
  text-align: center;
  flex: 1 1 calc(20% - 20px);
  max-width: 200px;
  margin: 0 3%;
}
.marketing-bar .item img {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.marketing-bar .item img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.marketing-bar .item p {
  margin-top: 10px;
  font-weight: 600;
  color: #333;
}
